
/* Header Stuff */

#header {
    position:relative;
    height: 500px;
}

#hi {
    position: absolute;
    left: 9vw;
    top: 50%;
    transform: translateY(-50%);

    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    line-height: 0.4;
    font-size: 25px;
}

#hi a {
 /*margin-right: 3px;*/
}

#typewriter {
  width: 300px;
}

/* NavBar Stuff */

#navcontain {
    position: absolute;
    width: 100%;
}

/* about stuff */
#about {
  margin-bottom: 1rem;
}

#about p {
  margin-bottom: 0px;
}

#about-title {
  display: flex;
}

#about-title * {
  border-bottom: 3px solid black;
  font-size: 2em;
  padding-bottom: 2px;
}


/* Portfolio Stuff */
#portflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#linkflex {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

#linkflex li {
    margin-left: 15px;
}

#portfolio {
    margin-bottom: 3px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    font-size: 30px;
}

#pbody {
    margin-top: 0;
    line-height: 1.2;
}

/*.project {
    padding-top: 15px
}*/

.project:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    margin-bottom: 4px;
}

.project * {
    margin-bottom: 1px;
}

.project > a > h3 {
    font-size: 22px;
    margin-bottom: 1px;
}

.project > a:first-child {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.project img {
  margin: 10px;
}

/* Contact Form Stuff */
#contact h1 {
    font-size: 30px;
}

#contact textarea {
    width: 100%;
    height: 200px;
}

#subject {
    width: 100%;
}

#contact div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact div input {
    flex-grow: 1;
    flex-shrink: 0;
}
