html, body {
    height: 100%;
}

/*@media (min-width: 992px) {
    html {
        display:flex;
        justify-content: center;
    }

    body {
        max-width: 1700px;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }
}*/


#bigheader {
    position:relative;
    background-color: black;
    color: white;
    height: 500px;
}

#header {
    position:relative;
    background-color: black;
    color: white;
    width: 100%;
}

#navcontain {
    position: absolute;
    width: 100%;
}

#shiftleft {
    position: absolute;
    left: 15%;
    height: 100%;
}

#align-vertical {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hi {
    line-height: 0.4;
    font-size: 25px;
}

#mainbody {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#portflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#linkflex {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

#linkflex * {
    margin-left: 15px;
}

#portfolio {
    margin-bottom: 3px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    font-size: 30px;
}

#pbody {
    margin-top: 0;
    line-height: 1.2;
}

/*.project {
    padding-top: 15px
}*/

.project:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    margin-bottom: 4px;
}

.project * {
    margin-bottom: 1px;
}
.project h3 {
    font-size: 22px;
}

#contact h1 {
    font-size: 30px;
}

#contact textarea {
    width: 100%;
    height: 200px;
}

#subject {
    width: 100%;
}

#contact div {
    display: flex;
    justify-content: space-between;
}

#contact div input {
    flex-grow: 1;
}
